

#dica {
    color: gray;
    position: absolute;
    bottom: 30%;
    margin: auto;
    text-align: center;
}

footer {
    color: rgb(45, 45, 45);
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#fundo {
    width: 510px;
    height: 350px;
    margin: auto;
    background-color: #86CAF0;
    border: 10px solid #0070accd;
    border-radius: .8em;
}

#contas {
    width: 230px;
    height: 330px;
    float: left;
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
    color: black;
    text-align: left;
    margin-top: 5px;
}

#i1, #i2, #i3, #i4, #i5, #i6 {
    font-size: 28px;
    font-family: 'Courier New', Courier;
    padding: 0px 10px;
    color: rgb(50, 50, 50);
    margin-left: 30px;
    display: inline;
}

.input {
    width: 60px;
    height: 30px;
    font-family: 'Courier New', Courier;
    font-size: 25px;
    display: inline;
}

#submit {
    background-color: #3CAAE7;
    border: none;
    color: white;
    width: auto;
    font-size: 2em;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier;
    width: 190px;
    height: 50px;
}

/* START-CRONOMETRO */

#cronometro {
    width: 260px;
    height: 220px;
    float: right;
    border-top-right-radius: .2em;
    color: black;
}

#contador {
    text-align: center;
    font-family: 'Courier New', Courier;
    padding-top: 45px;
}

#cron {
    font-size: 2.7em;
}

#botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#botaoStart, #botaoStop, #botaoReset {
    width: 70px;
    height: 30px;
    border: none;
    color: white;

}

#botaoStart {
    
    background-color: green;
    display: block;
    margin-right: 5px;
}

#botaoStop {
    background-color: gray;
    display: none;
    margin-right: 5px;

}

#botaoReset {
    background-color: red;
    margin-left: 5px;
}

/* END-CRONOMETRO */

/* START-CONFIRM */

#confirmacao {
    width: 260px;
    height: 110px;
    float: right;
    border-bottom-right-radius: .2em;
    color: black;
    display: flex;
    align-items: center;
    display: none;
}

/* START-CHECK-ICON */

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% 10%;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

/* END-CHECK-ICON */

/* START-TEXT-"SUCCESS" */

.slide-right {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    color: white;
    font-family: 'Sriracha';
    color: #7ac142;
}

.slide-right h2 {
    animation: 2s slide-right;
}

@keyframes slide-right {
    0% {
        margin-left: -400px;
    }

    100% {
        margin-left: 0%;
    }
}

/* END-TEXT-"SUCCESS" */

/* END-CONFIRM */