#dica {
    color: gray;
    position: absolute;
    bottom: 30%;
    margin: auto;
    text-align: center;
}

footer {
    color: rgb(45, 45, 45);
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#fundo {
    width: 510px;
    height: 350px;
    margin: auto;
    background-color: #86CAF0;
    border: 10px solid #0070accd;
    border-radius: .8em;
    animation: remelexo linear infinite;
    animation-duration: 10s;
}

#contas {
    width: 230px;
    height: 330px;
    float: left;
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
    color: black;
    text-align: left;
    margin-top: 5px;
}


#blur {
    font-family: 'Courier New', Courier;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 230px;
    height: 258px;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 155px;
    left: 118px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.3);
}

@keyframes blurSlide {

    0% {
        height: 258px;
    }

    100% {
        height: 0px;
    }
}

#i1,
#i2,
#i3,
#i4,
#i5,
#i6 {
    font-size: 28px;
    font-family: 'Courier New', Courier;
    padding: 0px 10px;
    color: rgb(50, 50, 50);
    margin-left: 16px;
    display: inline;
}

.input {
    width: 60px;
    height: 30px;
    font-family: 'Courier New', Courier;
    font-size: 25px;
    display: inline;
}


input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#submit {
    background-color: #3CAAE7;
    border: none;
    color: white;
    width: auto;
    font-size: 2em;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier;
    width: 190px;
    height: 50px;
    outline: none;
}

#submit:hover {
    background-color: #219de0;
    color: rgb(231, 231, 231);

}

/* START-CRONOMETRO */

#cronometro {
    width: 260px;
    height: 220px;
    float: right;
    border-top-right-radius: .2em;
    color: black;
}

#contador {
    text-align: center;
    font-family: 'Courier New', Courier;
    padding-top: 35px;
}

#cron {
    font-size: 2.7em;
    margin: 0px 10px;
    border-radius: 5px;

}

#botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#botaoStart,
#botaoStop,
#botaoReset {
    width: 115px;
    height: 60px;
    padding-top: 5px;
    color: white;
    font-size: 1.5em;
    font-family: Courier;
    font-weight: bold;
    transition-duration: .5s;
    outline: none;
}

#botaoStart {
    display: block;
    margin-right: 5px;
    border: 2px solid green;
    color: rgb(132, 237, 132);
    background-color: green;
}

#botaoStart:hover {
    color: green;
    background-color: rgba(0, 255, 0, 0.336);
}

#botaoStop {
    background-color: gray;
    display: none;
    margin-right: 5px;
    color: rgb(216, 216, 216);
    border: 2px solid gray;
}

#botaoStop:hover {
    color: gray;
    background-color: rgba(176, 176, 176, 0.574);
}

#botaoReset {
    background-color: #e80000;
    border: 2px solid #e80000;
    margin-left: 5px;
    color: rgb(255, 171, 171);
}

#botaoReset:hover {
    color: #e80000;
    background-color: rgba(255, 127, 127, 0.853);
}

/* END-CRONOMETRO */

/* START-CONFIRM */

#confirmacao {
    width: 260px;
    height: 110px;
    float: right;
    border-bottom-right-radius: .2em;
    color: black;
    display: flex;
    align-items: center;
    display: none;
}

/* START-CHECK-ICON */

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% 10%;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

/* END-CHECK-ICON */

/* START-TEXT-"SUCCESS" */

.slide-right {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    color: white;
    font-family: 'Sriracha';
    color: #7ac142;
}

.slide-right h2 {
    animation: 2s slide-right;
}

@keyframes slide-right {
    0% {
        margin-left: -400px;
    }

    100% {
        margin-left: 0%;
    }
}

/* END-TEXT-"SUCCESS" */

/* END-CONFIRM */